body {
    max-height: 100vh;
    background-color: var(--primary-color);
    background-image: url(../images/bg-desktop.svg);
    font-family: "Open Sans", sans-serif;
    color: #ffffff;
}

.header {
    display: flex;
    padding: 30px 50px;
}

.header .link-logo {
    display: flex;
}

.header .link-logo .logo {
    max-width: 200px;
}

.main {
    max-height: 500px;
    display: flex;
    justify-content: center;
    padding: 30px 50px;
}

.main .container-mockup {
    text-align: center;
}

.main .container-mockup .image-mockup {
    max-height: 100%;
}

.main .container-info {
    max-width: 440px;
}

.main .container-info .title {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    margin-bottom: 20px;
    font-size: 35px;
}

.main .container-info .text {
    line-height: 26px;
    margin-bottom: 15px;
}

.main .container-info .btn-register {
    padding: 14px 55px;
    border-radius: 30px;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    color: var(--primary-color);
    box-shadow: 2px 5px 30px -8px black;
}